<div class="container">
  <button type="button" class="btn btn-primary" [routerLink]="['../create']" routerLinkActive="active">New User</button>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Gender</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users.content; let index = index;">
        <th>{{index + 1}}</th>
        <td>{{user.userId}}</td>
        <td>{{user.userName}}</td>
        <td>{{user.gender}}</td>
      </tr>
    </tbody>
  </table>
</div>
